<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HIV Healthcare System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HIVSystem.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>
<body>
    <!-- React App Container -->
    <div id="react-app"></div>
    
    <!-- Render body for any additional content -->
    @RenderBody()

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <!-- React CDN -->
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-router-dom@6/dist/umd/react-router-dom.development.js"></script>
    
    <!-- React Components -->
    <script src="~/js/components/Header.js" asp-append-version="true"></script>
    <script src="~/js/components/Footer.js" asp-append-version="true"></script>
    <script src="~/js/components/Home.js" asp-append-version="true"></script>
    <script src="~/js/components/Login.js" asp-append-version="true"></script>
    <script src="~/js/components/Register.js" asp-append-version="true"></script>
    <script src="~/js/components/Profile.js" asp-append-version="true"></script>
    <script src="~/js/components/Dashboard.js" asp-append-version="true"></script>
    <script src="~/js/components/App.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 